<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>353872281768-dk89gp1peuof94br8mqk2bag74r36ni5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.353872281768-dk89gp1peuof94br8mqk2bag74r36ni5</string>
	<key>API_KEY</key>
	<string>AIzaSyCybDsXYjVWpAzuZJC_PmqRzV6YNwWfqRY</string>
	<key>GCM_SENDER_ID</key>
	<string>353872281768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.schoolproject</string>
	<key>PROJECT_ID</key>
	<string>schoolproject-efafe</string>
	<key>STORAGE_BUCKET</key>
	<string>schoolproject-efafe.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:353872281768:ios:6ceffd03f3f6d7f898829d</string>
</dict>
</plist>